.env
node_modules/
# Logs
logs/
*.log
npm-debug.log*

# Cache & sistem
.DS_Store
Thumbs.db

# Folder produksi kalau ada
dist/
build/

# File database lokal (kalau pakai SQLite atau semacamnya)
*.sqlite

# Folder upload (jika ada simpanan file upload sementara)

temp/

# VSCode settings (opsional)
.vscode/
